<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div id="brand">
					<div id="heading">
						<h2>{{translateString STRINGS.HEADER.HEADING}}</h2>
					</div>
					<div id="subheading">
						{{translateString STRINGS.HEADER.SUBHEADING}}
					</div>
				</div>
			</div>
		</div> <!-- end row --> 
	</div> <!-- end container -->
</header>
