.controls {
    list-style: none;
    margin: 1em;
    padding: 0;
}

.controls > .controls {
    display: inline;
    margin: 0;
    padding: 0;
}

.controls > * {
    display: inline;
    padding: 0 0.5em;
}

.controls > *:last-child {
    border: none;
}

.ui-multiselect {
    font-size: 0.9em;
}
